* {
    box-sizing: border-box;
}

html, body, #main, #console {
    height: 100%;
}

#main {
    margin: 0;
    width: 100%;
}

#editor, #viewer {
    float: left;
    width: 50%;
    height: 100%;
}

#viewer {
}

.swing-window {
    border: 1px solid black;
    display: inline-block;
    background: #eee;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
    min-width: 100px;
    min-height: 100px;
    position: absolute;
}

.title {
    font-weight: bold;
    background: #ccc;
    padding: 5px;
    text-align: center;
    display: block;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

#taskbar {
    width: 50%;
    padding: 3px;
    margin: 0;
    position: absolute;
    bottom: 0;
    background: #2b2b2b;
    list-style-type: none;
    border-top: 1px solid black;
}

#desktop {
    padding: 10px;
    height: 100%;
}

#taskbar > li {
    float: left;
    margin-right: 10px;
    border: 1px solid #5E5E5E;
    max-width: 100px;
    padding: 5px 10px;
    cursor: pointer;
    background: #E9E9E9;
    overflow: hidden;
    font-weight: bold;
    color: #0A0A0A;
}

.close {
    float: right;
}
