* {
    box-sizing: border-box;
}

html, body, #main, #console {
    height: 100%;
}

#main {
    margin: 0;
    width: 100%;
}

#editor, #viewer {
    float: left;
    width: 50%;
    height: 100%;
}

#viewer {
    padding: 10px;
}

.swing-window {
    border: 1px solid black;
    display: inline-block;
}

.title {
    font-weight: bold;
    background: #efefef;
    padding: 5px;
    text-align: center;
    display: block;
    border-bottom: 1px solid #000;
}
